@import "src/variables";

:host {
  height: $main-view-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 14rem;
  height: 14rem;
  font-size: $font-context-button;
  color: $app-color-white;
  position: relative;
  top: $context-button-relative-top;
}

.login-view {

}

.action-start {
  background: $app-color-start;
}

.participant-in-action {

}

.performer-in-action {
  background: $app-color-finish;
}

.show-result {
  background: $app-color-result;
}

.thank-you-information {
  background: $app-color-thanks;
}
