:host {
    height: inherit;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
}

header {
    display: flex;
    text-align: center;
    height: 10vh;
}

mat-card {
  width: 100%;
}
