@import "src/variables.scss";

:host {
    height: inherit;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 6rem;
    height: 6rem;
    font-size: $font-2x-large;
}
