$font-small: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-xlarge: 20px;
$font-2x-large: 22px;
$font-2x-large: 22px;
$font-context-button: 40px;

$app-color-rebeccapurple: rebeccapurple;
$app-color-red-01: #a52c06;
$app-color-white: white;
