$font-small: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-xlarge: 20px;
$font-2x-large: 22px;
$font-2x-large: 22px;
$font-context-button: 40px;

$app-color-start: rebeccapurple;
$app-color-finish: #a52c06;
$app-color-result: #d2ad26;
$app-color-thanks: #327916;
$app-color-white: white;

$main-view-height: 90vh;
$fajne-button-relative-top: 40px;
$fajne-chart-relative-top: 90px;
